* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Customlato";
  src: url("./font/lato-regular-webfont.woff") format("woff"),
    url("./font/lato-regular.ttf") format("truetype"),
    url("./font/lato-regular-webfont.woff2") format("woff2"),
    url("./font/lato-bold.tff") format("truetype");
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "customlato", sans-serif;
}

.btn-main {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  padding: 10px 15px;
  border: none;
  border: 1.5px solid transparent;
}

.btn-light {
  background: transparent;
  border: 1.5px solid var(--main-color);
}

.btn-light:hover {
  color: var(--main-color);
}

.btn-main:hover {
  background: var(--white-color);
  color: var(--main-color);
  border: 1.5px solid var(--main-color);
}

.navmobile-brand {
  color: var(--white-color);
}

.mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white-color);
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.75rem;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--light-text-color);
  /* z-index: 1000; */
}
.showbackdrop {
  display: block;
}
.navmobile-brand {
  display: flex;
  align-items: center;
}
.navmobile-brand span {
  margin-left: 6px;
  font-size: 1.75rem;
  font-weight: 700;
}

.nav-mobile {
  background: var(--main-color);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--white-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

/* /// hanburger menu starts here///// */

.menu-bar {
  width: 100%;
  height: 0.1875rem;
  background: var(--white-color);
  position: relative;
}

.showMenu .menu-bar {
  background: transparent;
}

.showMenu .menu-bar {
  background: transparent;
}

.showMenu .menu-bar::before {
  transform: rotate(45deg);
}

.showMenu .menu-bar::after {
  transform: rotate(-45deg);
}

.menu-bar::before,
.menu-bar::after {
  content: "";
  height: 0.1875rem;
  width: 100%;
  position: absolute;
  background: var(--white-color);
}

.menu-bar::after {
  transform: translateY(10px);
}

.menu-bar::before {
  transform: translateY(-10px);
}

/* /// hanburger menu  here///// */
.navmobile-menu {
  width: 2.5rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
}

.navmobile-links {
  border-top: 1.5px solid var(--white-color);
  background: var(--main-color);
  position: fixed;
  right: -100%;
  top: 70px;
  width: 50%;
  height: 100vh;
  transition: all 0.5s ease;
}

.Shownnavmobile-Links {
  right: 0px;
}
.navmobile-links ul {
  list-style: none;
}

.navmobile-links a {
  color: var(--white-color);
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.navmobile-links a:hover {
  background: var(--white-color);
  color: var(--main-color);
}

.navmobile-links button {
  margin-left: 20px;
  background: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.nav-destop {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background: var(--white-color);
  width: 100%;
  top: 0;
  left: 0;
}

.header-logo {
  background: var(--main-color);
  height: 6.25rem;
  width: 6.25rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8125rem;
  position: fixed;
  left: 63px;
}

.link-holder {
  display: block;
}

.link-holder ul {
  list-style: none;
  display: flex;
}

.link-holder ul a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: var(--main-color);
  padding: 15px 20px;
}

.link-holder ul a:hover {
  border: 1px solid var(--main-color);
}

.header-banner {
  /* padding-top: 100px;
  padding-bottom: 30px; */
  background: url("img/banner.jpg");
  background-size: cover;
  background-position: center right;
}

.header-banner__container {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.header-banner__content {
  width: 50%;
}

.header-banner__content h1 {
  font-size: 2.8125rem;
  color: var(--main-color-dark);
  font-weight: 200;
  line-height: 1.1;
}

.header-banner__content p {
  margin: 15px 0;
  line-height: 1.35;
  text-align: justify;
}

.header-banner__content button {
  margin-right: 15px;
}

.header-counter {
  display: flex;
  justify-content: space-evenly;
  background: var(--main-color);
  padding: 15px 0;
}

.counter-item {
  width: 11.25rem;
  color: var(--white-color);
  text-align: center;
}

.counter-item h4 {
  font-size: 1.75rem;
}

.counter-item p {
  margin-top: 5px;
  text-transform: uppercase;
}

/* ========= about us section starts here======= */
.aboutfoods {
  /* border: 1px solid black; */
  padding: 30px 0;
}

.aboutfoods-container {
  /* border: 1px solid tomato; */
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  padding: 20px 0;
}

.aboutfoods-image {
  height: 21.88rem;
  width: 48%;
  border-radius: 25px;
  overflow: hidden;
}

.aboutfoods-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-fix img {
  object-fit: contain;
}

.aboutfoods-text {
  width: 48%;
}

.aboutfoods-text h2 {
  background: var(--light-text-color);
  border-left: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  padding: 10px 15px;
  color: var(--main-color);
  font-size: 1.75rem;
  line-height: 1.3;
}

.aboutfoods-text p {
  margin: 18px 0;
  line-height: 1.2;
}

.aboutfoods-text ol {
  list-style: none;
  margin-bottom: 15px;
}

.aboutfoods-text i {
  color: var(--main-color);
  margin-right: 8px;
}
.aboutfoods-text li {
  margin: 5px 0;
}
.aboutfoods-quote {
  background: var(--gray-gradient), url("./img/about3.jpg");
  background-size: cover;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.foodsquote-container {
  width: 90%;
  margin: 0 auto;
}

.aboutfoods-quote h2 {
  color: var(--main-color);
  position: relative;
  padding-left: 30px;
}

.aboutfoods-quote h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: var(--main-color);
  left: 0px;
}
.aboutfoods-quote p {
  margin: 15px 0;
  line-height: 1.3;
  text-align: justify;
}
.waves-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.waves {
  width: 60px;
  height: 60px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 50%;
  font-size: 25px;
  outline: 2px solid var(--white-color);
  animation: ripple 3s infinite;
}

/* ========= about us section ends here======= */

/* ========= explore foods  section starts here======= */

.explorefoods-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.explorefoods-container h3 {
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 700;
}
.explorefoods-container p {
  text-align: justify;
  margin: 15px 0;
  line-height: 1.5;
}

.explorefoods-cardshowcase {
  padding: 20px 0;
  justify-content: space-evenly;
  display: flex;
}

.foodcard-imageholder {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.foodcard-imageholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foodcard {
  width: 285px;
}
.foodcard-textholder {
  padding: 20px 0;
}
.foodcard-textholder h4 {
  font-size: 18px;
}
.foodcard-textholder p {
  margin: 8px 0;
}
.foodcard-textholder .price {
  border-bottom: 2px solid var(--light-text-color);
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.price span {
  color: var(--text-color);
  text-decoration: line-through;
}
/* ========= explore foods  section ends here======= */
/* ========= faq   section starts here======= */
#faq {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

#faq h2 {
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.faq-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}
.faq-card {
  width: 48%;
}

.faq-card h3 {
  color: var(--main-color-dark);
  margin-bottom: 15px;
}
.faq-card h3 i {
  color: var(--main-color);
  margin-right: 5px;
}
.faq-card p {
  text-align: justify;
}

/* ========= faq   section ends here======= */

/* ========= review   section starts here======= */
#review {
  width: 90%;
  margin: 0 auto;
  height: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--gradient), url("./img/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#review p {
  color: var(--white-color);
  font-size: 28px;
  font-weight: 700;
}

#review button:hover {
  background: transparent;
  color: var(--white-color);
}
/* ========= review   section ends here======= */
/* ========= footer    section starts here======= */
.cta-section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-section h3 {
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color-dark);
}

.cta-section p {
  margin: 15px 0;
}

.cta-input {
  border: 1.5px solid var(--main-color);
  display: flex;
}
.cta-input input {
  outline: none;
  border: none;
  padding: 8.5px 9px;
  width: 200px;
  transition: width 0.3s ease;
}
.cta-input:hover input {
  width: 260px;
}
.cta-input button {
  padding: 8px 9px;
  border: none;
  color: var(--white-color);
  background: var(--main-color);
}

.cta-input input::placeholder {
  color: var(--main-color);
  font-size: 16.5px;
}
.footer {
  padding: 30px 0;
  background: var(--main-color);
  display: flex;
  justify-content: space-evenly;
  color: var(--white-color);
  align-items: center;
}
.footer-iconholder {
  display: flex;
}

.icons {
  border: 1.5px solid var(--white-color);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5px;
  color: var(--white-color);
  text-decoration: none;
}

.icons:hover {
  background: var(--main-color-dark);
}

.footer button {
  border: 1.8px solid var(--white-color);
  background: transparent;
  padding: 10px 15px;
  color: var(--white-color);
  cursor: pointer;
}

.footer button i {
  margin-left: 3px;
  transition: all 0.3s ease;
}

.footer button:hover {
  background: var(--main-color-dark);
}
.footer button:hover i {
  margin-left: 6px;
}

.footer button a {
  color: var(--white-color);
  text-decoration: none;
}
/* ========= footer    section ends here======= */
/* ========= larger screen    section starts here======= */

.main,
header,
footer {
  max-width: 1500px;
  margin: 0 auto;
}
/* ========= larger screen    section ends here======= */
