@media (max-width:851px){
  
    .nav-destop {
        display: none;
    }
    .nav-mobile {
        display: flex;

    }
 .header-banner{
    background-position: center;
 }

 .header-banner__content{
    width: 100%;
 }
}
