@media (max-width: 851px) {
  .nav-destop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .header-banner {
    background-position: center;
  }

  .header-banner__content {
    width: 100%;
  }
  .aboutfoods-container {
    flex-direction: column;
    align-items: center;
  }
  .aboutfoods-image {
    margin: 20px 0;
    width: 90%;
    height: 17.5rem;
  }
  .aboutfoods-text {
    width: 100%;
  }
  .aboutfoods-quote {
    padding: 50px 0;
  }
  .faq-container {
    flex-flow: wrap;
  }
  .faq-card {
    width: 100%;
  }
  #review {
    padding: 0 10px;
    text-align: center;
    flex-flow: column wrap;
  }
  .footer {
    flex-flow: column wrap;
    text-align: center;
    padding: 30px 15px;
  }

  .footer-iconholder {
    margin: 10px 0;
  }
}

@media (max-width: 1031px) {
  .explorefoods-cardshowcase {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .foodcard {
    padding: 20px 0;
    width: 320px;
  }
}
